# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_urchin_LEFT
    def_bool $(shields_list_contains,urchin_left)

config SHIELD_urchin_RIGHT
    def_bool $(shields_list_contains,urchin_right)
